.connection,
.registration {
  height: 100vh;
  background-image: url("../assets/images/icones/banner.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form-connection,
#form-registration {
  width: 45%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #0b30584f;
  border-radius: 1.25rem;
}
#form-connection input,
#form-registration input {
  width: 70%;
  padding: 0.5rem;
}
.subtitle-registration {
  color: var(--active-color);
  /* font-family: var(--title-font); */
  font-size: 2rem;
  padding-block: 0.7rem;
}
#status-registration,
#emailError,
#passwordError,
#identiquePasswordError,
#codePostalError {
  padding: 0.2rem;
}
.message-connection {
  padding: 0.5rem;
  border-radius: 1rem;
}
