:root {
  /* couleur */
  --primary-color: #0b3058;
  --hover-color: #356fae;
  --discount-color: #e53935;
  --active-color: #ffe600;
  --secondary-color: #c8e3bc;
  --text-color: #ffffff;
  --text-alternat-color: #000000;
  /* police utilisé */
  --text-font: "lato", sans-serif;
  --title-font: "chewy", serif;
}

* {
  box-sizing: border-box;
  font-family: var(--text-font);
}

html {
  background-color: var(--hover-color);
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border: 2px solid #0b3058;
  background-color: var(--text-color);
}
.body-admin {
  max-width: 100%;
}
main {
  min-height: 80vh;
}

/** --- Gestion des Bouttons --- */
.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5rem;
  width: 195px;
  height: 59px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: var(--hover-color);
}
